<div class="it-hero-wrapper it-dark it-overlay it-bottom-overlapping-content">
  <div class="img-responsive-wrapper">
    <div class="img-responsive">
      <div class="img-wrapper"><img src="https://picsum.photos/1920/960/?image=791" title="img title" alt="imagealt"></div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm">
          <!--start card-->
          <div class="card-wrapper">
            <div class="card">
              <div class="card-body">
                <div class="categoryicon-top">
                  <svg class="icon"><use href="/assets/bootstrap-italia/dist/svg/sprites.svg#it-file"></use></svg>
                  <span class="text">Categoria<br>nome</span>
                </div>
                <a href="#">
                  <h3 class="card-title h5 ">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor…</h3>
                </a>
                <p class="card-text font-serif">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              </div>
            </div>
          </div>
          <!--end card-->
      </div>
      <div class="col-sm">
        <div class="mx-auto" style="width: 200px;"></div>
      </div>
    </div>
  </div>
</div>
